@tailwind base;
@tailwind components;
@tailwind utilities;


.main-bg {
  background-image: url('/img/Background.png');
  background-size:  cover;
  background-position: center;
}

.mint-button-bg{
  background-image: url('/img/MintButton.png');
  background-size:  100% 100%;
  background-position: center;
}

:where(.css-dev-only-do-not-override-djtmh8).ant-btn-default {
  background: transparent;
  background-image: url('/img/ConnectButton.png');
  background-size:  100% 100%;
  background-position: center;
  color: transparent;
  border-color: transparent;
  border: 0cap;
  content: "";
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);
}

:where(.css-dev-only-do-not-override-djtmh8).ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
  color: transparent;
  background: transparent;
  background-image: url('/img/ConnectButton.png');
  background-size:  100% 100%;
}